<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project">
        <activity android:name=".GamePage8_1"></activity>
        <activity android:name=".GamePage4_1" />
        <activity android:name=".GamePage2_1" />
        <activity android:name=".GamePage9" />
        <activity android:name=".GamePage8" />
        <activity android:name=".GamePage7" />
        <activity android:name=".GamePage6" />
        <activity android:name=".GamePage5" />
        <activity android:name=".GamePage4" />
        <activity android:name=".GamePage3" />
        <activity android:name=".GamePage2" />
        <activity android:name=".GamePage1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>